# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node dependencies
/node_modules
npm-debug.log
yarn-error.log

# Testing & Coverage
/coverage
/playwright-report
/test-results

# Angular cache
/.angular/cache

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Environment files
.env
.env.local

# Operating System Files
.DS_Store
Thumbs.db
