{
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "bracketSpacing": true,
  "printWidth": 100,
  "trailingComma": "all",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-organize-attributes"]
}
